@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

* {
    font-family: var(--font-main);
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-main: 'Spartan', sans-serif;
    --font-white: white;

    
    --font-menu: ;
    --background: ;
    --visor-back: ;
    --toggle-back: ;
    --numpad-back: ;
    --font-button: ;
    --key-background1: ;
    --key-shadow1: ;
    --key-background2: ;
    --key-shadow2: ;
    --key-toggle: ;
    --key-toggle-shadow: ;
    --key-toggle-color: ;
    --position-input: ;
}

.theme01:root {
    --font-menu: white;
    --background: hsl(222, 26%, 31%);
    --visor-back: hsl(224, 36%, 15%);
    --toggle-back: hsl(223, 31%, 20%);
    --numpad-back: hsl(223, 31%, 20%);
    --font-button: hsl(221, 14%, 31%);
    --key-background1: hsl(30, 25%, 89%);
    --key-shadow1: hsl(28, 16%, 65%);
    --key-background2: hsl(225, 21%, 49%);
    --key-shadow2: hsl(224, 28%, 35%);
    --key-toggle: hsl(6, 63%, 50%);
    --key-toggle-shadow: hsl(6, 70%, 34%);
    --key-toggle-color: white;
    --position-input: 0px;
}


.theme02:root {
    --font-menu: hsl(60, 10%, 19%);
    --background: hsl(0, 0%, 90%);
    --visor-back: hsl(0, 0%, 93%);
    --toggle-back: hsl(0, 5%, 81%);
    --numpad-back: hsl(0, 5%, 81%);
    --font-button: hsl(60, 10%, 19%);
    --key-background1: hsl(45, 7%, 89%);
    --key-shadow1: hsl(35, 11%, 61%);
    --key-background2: hsl(185, 42%, 37%);
    --key-shadow2: hsl(185, 58%, 25%);
    --key-toggle: hsl(25, 98%, 40%);
    --key-toggle-shadow: hsl(25, 99%, 27%);
    --key-toggle-color: white;
    --position-input: 21px;
}

.theme03:root {
    --font-menu: hsl(52, 100%, 62%);
    --background: hsl(268, 75%, 9%);
    --visor-back: hsl(268, 71%, 12%);
    --toggle-back: hsl(268, 71%, 12%);
    --numpad-back: hsl(268, 71%, 12%);
    --font-button: hsl(52, 100%, 62%);
    --key-background1: hsl(268, 47%, 21%);
    --key-shadow1: hsl(290, 70%, 36%);
    --key-background2: hsl(281, 89%, 26%);
    --key-shadow2: hsl(285, 91%, 52%);
    --key-toggle: hsl(176, 100%, 44%);
    --key-toggle-shadow: hsl(177, 92%, 70%);
    --key-toggle-color: hsl(198, 20%, 13%);
    --position-input: 44px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
}

.calc__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-menu);
    font-size: 1.8em;
}

.calc__themes {
    display: flex;
    align-items: center;
    font-size: 0.35em;
}

.calc__themes > p {
    margin: 0px 10px -15px 0px;
}

.calc__themes--options > p {
    margin: 0px 0px 0px 6px;
}

.calc__options {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.themes {
    display: flex;
    align-items: center;
    position: relative;
    width: 70px;
    height: 25px;
    border-radius: 20px;
    background-color: var(--toggle-back);
}

.themes__input {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 6px;
    background-color: var(--key-toggle);
    left: var(--position-input);
    transition: left 0.3s;
    cursor: pointer;
}

.calc__visor {
    height: 110px;
    font-size: 2.3em;
    width: 450px;
    background-color: var(--visor-back);
    border: 0px;
    border-radius: 10px;
    margin: 20px 0px;
    color: var(--font-menu);
    padding: 20px 5px 20px 20px;
    text-align: right;
}

.calc__buttons {
    background-color: var(--numpad-back);
    border-radius: 10px;
    text-align: center;
    width: 450px;
    border-collapse: separate;
    padding: 15px;
}

.calc__buttons td {
    padding: 8px;
}

.calc__buttons button {
    border: 0px;
    font-size: 1.5em;
    height: 50px;
    width: 80px;
    box-shadow: 0px 3px 0px 0px var(--key-shadow1);
    background-color: var(--key-background1);
    padding: 5px 0px 0px 0px;
    border-radius: 10px;
    color: var(--font-button);
    cursor: pointer;
}

.calc__buttons button:hover {
    border: 1px solid #3838388e;
}

.calc__buttons button:focus {
    box-shadow: 0px -3px 0px 0px var(--key-shadow1);
    transition: 0.2s;
}

#calc__btnReset, #calc__btnDelete {
    font-size: 0.9em;
    color: var(--font-white);
    background-color: var(--key-background2);
    box-shadow: 0px 3px 0px 0px var(--key-shadow2);
}

#calc__btnReset {
    width: 186px;
}

#calc__btnIgual {
    font-size: 0.9em;
    color: var(--key-toggle-color);
    width: 186px;
    background-color: var(--key-toggle);
    box-shadow: 0px 3px 0px 0px var(--key-toggle-shadow);
}

#calc__btnReset:focus, #calc__btnDelete:focus {
    box-shadow: 0px -3px 0px 0px var(--key-shadow2);
    transition: 0.2s;
}

#calc__btnIgual:focus {
    box-shadow: 0px -3px 0px 0px var(--key-toggle-shadow);
    transition: 0.2s;
}

/*THEMES*/
/*  Theme01 = 0px
    Theme02 = 21px
    Theme03 = 44px
*/

/*MEDIA QUERIES*/

@media (max-width: 600px) {
    .calc__menu {
        font-size: 1.7em;
    }

    .calc__visor {
        height: 100px;
        font-size: 2em;
        width: 400px;
    }

    .calc__buttons {
        width: 400px;
        padding: 10px;
    }

    .calc__buttons button {
        font-size: 1.4em;
        border-collapse: separate;
        height: 45px;
        width: 70px;
    }

    #calc__btnReset, #calc__btnIgual {
        width: 170px;
    }
}

@media (max-width: 450px) {
    .calc__menu {
        font-size: 1.5em;
    }

    .themes {
        width: 60px;
        height: 20px;
        border-radius: 15px;
    }

    .themes__input {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 6px;
    }

    .calc__visor {
        height: 90px;
        font-size: 1.8em;
        width: 350px;
    }

    .calc__buttons {
        width: 350px;
        padding: 6px 0px;
    }

    .calc__buttons td {
        padding: 8px 0px;
    }

    .calc__buttons button {
        font-size: 1.3em;
        height: 40px;
        width: 60px;
    }

    #calc__btnReset, #calc__btnIgual {
        width: 160px;
    }
}

@media (max-width: 374px) {
    .calc__menu {
        font-size: 1.4em;
    }

    .themes {
        width: 60px;
        height: 20px;
        border-radius: 15px;
    }

    .themes__input {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 6px;
    }

    .calc__visor {
        height: 80px;
        font-size: 1.8em;
        width: 300px;
    }

    .calc__buttons {
        width: 300px;
        padding: 5px 0px;
    }

    .calc__buttons td {
        padding: 6px 0px;
    }

    .calc__buttons button {
        font-size: 1.2em;
        height: 35px;
        width: 50px;
    }

    #calc__btnReset, #calc__btnIgual {
        width: 140px;
    }
}